.Nameheader{
    background-color: #F0F2F5;
    border-radius: 5px;
    padding: 20px 5px 5px 20px;
    margin-bottom: 10px;
}
.main{
    background-color: #32b821;
    padding: 15px;
    border-radius: 5px;
}
.taskContainer{
    background-color: rgb(15, 199, 231);
    border: 1px solid rgb(167, 37, 37);
    border-radius: 5px;
    padding: 20px 10px 10px;
    margin-top: 10px;
}